.task {
    position: relative;
    width: 100%;
    @media( min-width: 768px) {
        width: 30%;
    }
    
    &.create {
        transition: all 300ms ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.02);
            box-shadow: 0 1rem 2rem rgba(#000, .175);

        }
    }
}